<h1>ダイヤモンド相場&情報</h1>

<div class="container">
	<h3>ダイヤモンド価格チャート <span class="label label-default">0.3カラット</span></h3>
	<p>
	<%= link_to "チャート詳細", tables_chart_second_path, class: "btn btn-primary btn-lg" %>
	</p>
	<%= render 'diamond_chart' %>
	
	<h3 class="user_margin1">ダイヤモンド相場価格 <span class="label label-default">0.3カラット-<%= @latest_date %></span></h3>
	<p>
	<%= link_to "相場価格詳細", lists_show_path, class: "btn btn-primary btn-lg" %>
	</p>
	<%= render 'diamond_market' %>



</div>
