<h1>Data management page</h1>

<div class= "container">
	<%= form_tag diamonds_import_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "インポート" %>
    <% end %>
    
    <#%= button_to "チャート用データテーブル作成", { :action => "run"}, {:remote => true} %>
    <%= button_to "チャート用データテーブル作成", { :action => "run"} %>
    
    <%= button_to "Daily価格テーブル作成", { :action => "make_list"} %>
    
</div>

